body {
  background-color: cyan;
  background-color: hsl(185, 75%, 39%);
  position: relative;
  text-align: center;
  overflow: hidden;
}

span {
  color: gray;
  color: hsl(0, 0%, 59%);
  font-size: 10px;
  font-weight: 400;

}

hr {
  border: dotted #dfeeea 1px;
}

.image {
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 115px;
  height: 120px;
  width: 120px;
  }

.card {
  background-color: white;
  border-radius: 15px;
  display: inline-block;
  height: 400px;
  position: fixed;
  width: 350px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.card-pattern {
  width: 350px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-text {
  font-family: 'Kumbh Sans';
  font-size: 18px;
  font-weight: 700;
  height: 100px;
  width: 200px;
  position: absolute;
  margin-top: 70px;
  margin-left: 70px;
  line-height: 1.5;
}

.division {
  position: relative;
  margin-top: 45%;
}

.name {
  font-family: 'Kumbh Sans';
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  width: 150px;
}

.age {
  font-family: 'Kumbh Sans';
  font-size: 18px;
  color: gray;
}
.location {
  font-size: 14px;
  font-family: 'Kumbh Sans';
  font-weight: 400;
  color: gray;
  line-height: 2;
  position: relative;
  margin-left: 5px;
}

.attribution {
  position: relative;
  margin: 700px auto 10px auto;
}

.followers {
  bottom: 10px;
  font-family: 'Kumbh Sans';
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  left: 40px;
  margin-right: 50px;
  position: absolute;
  width: 50px;
}

.likes {
  bottom: 10px;
  font-family: 'Kumbh Sans';
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  left: 150px;
  position: absolute;
  width: 50px;
}

.photos {
  font-family: 'Kumbh Sans';
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  right: 40px;
  bottom: 10px;
  position: absolute;
  width: 50px;
}

.bottom-pattern {
  position: relative;
  margin-left: 720px;
  margin-top: 400px;
}

.top-pattern {
  position: absolute;
  right: 825px;
  bottom: 1580px;
}
